*, body {
    margin: 0;
    padding: 0;
}

body {
    background: hsl(212, 45%, 89%);
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    border-radius: 14px;
    padding: 10px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
    background: hsl(0, 0%, 100%);
    text-align: center;
}

.card img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 8px;
}

.card h2 {
    margin-bottom: 15px;
    padding: 0 8px;
    font-size: 17px;
    font-family: Outfit, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.card p {
    margin-bottom: 14px;
    padding: 0 10px;
    font-size: 11px;
    font-family: Outfit, Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.attribution {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}